<div class="user_control contrast">
  <div id ="user_email" class="left">
    <% if user_signed_in? %>
      <p>
        You're logged in as <%= current_user.email %>.
      </p>
    <% end %>
  </div>
  <div class="right">
    <%= render 'devise/menu/login_items' %>
  </div>
  <div class="clear"></div>
</div>
