
<table id="score_table">
  <thead>
    <th colspan="5">
      Winning Bid
    </th>
  </thead>
  <tbody class="clickable">
    <tr data-bidvalue="6">
      <td class="black" data-suit="spades">
        6 ♠
      </td>
      <td class="black" data-suit="clubs">
        6 ♣
      </td>
      <td class="red" data-suit="diamonds">
        6 ♦
      </td>
      <td class="red" data-suit="hearts">
        6 ♥
      </td>
      <td class="no_trump" data-suit="no_trumps">
        6 ★
      </td>
    </tr>
    <tr data-bidvalue="7">
      <td class="black" data-suit="spades">
        7 ♠
      </td>
      <td class="black" data-suit="clubs">
        7 ♣
      </td>
      <td class="red" data-suit="diamonds">
        7 ♦
      </td>
      <td class="red" data-suit="hearts">
        7 ♥
      </td>
      <td class="no_trump" data-suit="no_trumps">
        7 ★
      </td>
    </tr>
    <tr data-bidvalue="8">
      <td class="black" data-suit="spades">
        8 ♠
      </td>
      <td class="black" data-suit="clubs">
        8 ♣
      </td>
      <td class="red" data-suit="diamonds">
        8 ♦
      </td>
      <td class="red" data-suit="hearts">
        8 ♥
      </td>
      <td class="no_trump" data-suit="no_trumps">
        8 ★
      </td>
    </tr>
    <tr data-bidvalue="9">
      <td class="black" data-suit="spades">
        9 ♠
      </td>
      <td class="black" data-suit="clubs">
        9 ♣
      </td>
      <td class="red" data-suit="diamonds">
        9 ♦
      </td>
      <td class="red" data-suit="hearts">
        9 ♥
      </td>
      <td class="no_trump" data-suit="no_trumps">
        9 ★
      </td>
    </tr>
    <tr data-bidvalue="10">
      <td class="black" data-suit="spades">
        10 ♠
      </td>
      <td class="black" data-suit="clubs">
        10 ♣
      </td>
      <td class="red" data-suit="diamonds">
        10 ♦
      </td>
      <td class="red" data-suit="hearts">
        10 ♥
      </td>
      <td class="no_trump" data-suit="no_trumps">
        10 ★
      </td>
    </tr>
    <tr data-bidvalue="0">
      <td colspan="5" data-suit="misere">
        Misère
      </td>
    </tr>
    <tr data-bidvalue="0">
      <td colspan="5" data-suit="open_misere">
        Open Misère
      </td>
    </tr>
  </tbody>
</table>
