@import 'includes';

html {
  background-color: #bada55;
}

#body_container {
  margin: 0 auto;
  width: $pagewidth;

  -moz-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.6);
}

#header_container {
  header{
    margin: 0 auto;
    padding: 10px;

    color: $offwhite;
    background-color: $offblack;
    /*border: 1px solid $offblack;*/

    text-align: center;

  }

  h1 {
  font-size: 3em;
  }

  a {
    color: $offwhite;
    &:hover { color: #ffffff; }
  }

  ul {
    li {
      display: inline;
      margin: 0 5px;
    }
  }
}

#content_container {
  margin: 0 auto;
  padding: 20px 30px;
  /*border: 1px solid $offblack;*/

  color: $offblack;
  background-color: $white;

  h2 {
    font-size: 2em;
    padding-bottom: 10px;
    border-bottom: 1px solid $lightgrey;
    margin-bottom: 10px;

  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 1em;
  }

  ul {

    margin-bottom: 1em;
    margin-left: 1.5em;

    li {
      list-style-type: disc;
    }

    &.control {

      margin-top: 1em;
      margin-left: 0;

      li {
        display: inline;
        margin-right: 1em;
        list-style-type: none;
      }
    }
  }

  .new {
    margin-top: 40px;

    /* TODO: clarify for jquery-ui button styles on these link tags */
    a {

      &:hover {
        color: $offblack;

      }
    }
  }

  .details {
    margin: 40px 0;
  }

}

#footer_container {
  margin: 15px auto 100px auto;
  width: $pagewidth;

  footer {
    padding: 0 15px;
  }
}

form {
  .field {
    margin: 1em 0 1.5em 0;

    p {
      margin-bottom: .5em;

      &.explanation {
        margin-top: .5em;
        color: $lightgrey;
      }
    }

    input[type=checkbox] {
      margin-right: 5px;
    }

  }
  .actions {
    margin: 3em 0 1em 0;
  }
}

a.delete {
  color: $suitred;

  &:hover {
    color: $red;
  }
}

#notice_container {
  display: none;
}

#notice {
  text-align: center;
  color: $green;
}


/* Default scaffolded error/success notices */

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid #c00;
  padding: 7px;
  padding-bottom: 0;
  margin: 0 auto 20px auto;
  background-color: $offwhite;
  h3 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul {
    padding: 5px 5px 5px 15px;

    li {
    list-style: disc;
    margin-left: 1em;
    }

  }
}
