@import 'includes';

html {
  background-color: #cbe37f;
}

#pre_body_container {
  margin: 0 auto;
  width: $pagewidth;
  height: 2em;

  p {
    margin-top: 0.5em;
  }

  .user_control {
    padding: 0 1px;

    #user_email {
      opacity: 0.5;
    }

  }

}

#body_container {
  margin: 0 auto;
  width: $pagewidth;

  -moz-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.3);
}

#header_container {

  color: $offwhite;
  background-color: $offblack;
  padding: 10px;

  header {
    margin: 0 auto;

    /*border: 1px solid $offblack;*/

    text-align: center;

  }

  h1 {
  font-size: 3em;
  }

  a {
    color: $offwhite;
    &:hover { color: $white; }
  }

  nav {
    li {
      display: inline;
      margin: 0 5px;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}

#content_container {
  margin: 0 auto;
  padding: 20px 30px;
  /*border: 1px solid $offblack;*/

  color: $offblack;
  background-color: $white;

  h2 {
    font-size: 2em;
    padding-bottom: 5px;
    border-bottom: 1px solid $lightgrey;
    margin-bottom: 20px;

  }

  h3 {
    font-size: 1.5em;
    margin: 1em 0 0.5em 0;
  }

  p {
    margin-bottom: 1em;
  }

  ul {

    margin-bottom: 1em;
    margin-left: 1.5em;

    li {
      list-style-type: disc;
    }

    ul li {
      list-style-type: circle;
    }

    &.control {

      margin-top: 1em;
      margin-left: 0;

      li {
        display: inline;
        margin-right: 1em;
        list-style-type: none;
      }
    }
  }

  .new {
    margin-top: 40px;

    /* TODO: clarify for jquery-ui button styles on these link tags */
    a {

      &:hover {
        color: $offblack;

      }
    }
  }

  .details {
    margin: 40px 0;
  }

  figure {
    margin-bottom: 2em;

    figcaption {
      color: $darkgrey;
    }
  }

}

#footer_container {
  margin: 15px auto 100px auto;
  width: $pagewidth;

  footer {
    padding: 0 1px;
  }
}

form {

  padding-top: 1em;

  .field {
    margin-bottom: 1em;

    p {
      margin-bottom: .5em;

      &.explanation {
        margin-top: .5em;
        color: $lightgrey;
      }
    }

    input[type=checkbox] {
      margin-right: 5px;
    }

  }
  .actions {
    margin: 3em 0 1em 0;

    p {
      margin-top: 1em;
    }

  }
}

a.delete {
  color: $suitred;

  &:hover {
    color: $red;
  }
}

#notice_container, #alert_container {
  display: none;
}

#notice {
  text-align: center;
  color: $green;
}

#alert {
  text-align: center;
  color: $red;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

/* Default scaffolded error/success notices */

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid #c00;
  padding: 7px;
  padding-bottom: 0;
  margin: 0 auto 20px auto;
  background-color: $offwhite;
  h3 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul {
    padding: 5px 5px 5px 15px;

    li {
    list-style: disc;
    margin-left: 1em;
    }

  }
}
