// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'includes';

.team {
  padding: 20px 10px;

  &:nth-child(odd) {
    background-color: $offwhite;
  }

  &:nth-child(even) {

  }

  .team_content {
    margin-left: 1em;
  }
}
